.product {
  /* width: fit-content; */
  width:200px; 
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 10px;
  background-color: gray;
  text-align:center;
  color:white;
  border-radius:12px;
  
}
