.formContainer {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  background-color: white;
  max-width: 350px;
  margin: auto;
  padding: 20px;
  margin-top: 30px;
}
.formContainer h2 {
  text-align: center;
  background-color: white;
}
.regForm {
  /* border:1px solid green; */
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: white;
}
.regForm {
  color: red;
}
.fromControl {
  display: flex;
  flex-direction: column;
  background: white;
}
.fromControl span {
  background: white;
  font-size: 12px;
  text-indent: 6px;
}
.formContainer input {
  border: 1px solid gray;
  padding: 10px;
  outline-color: gray;
  border-radius: 5px;
  background: white;
}
.formContainer button {
  border: none;
  background: rgb(202, 199, 199);
  padding: 10px 30px;
  transition: 0.5s ease;
  align-self: center;
  margin-top: 16px;
}
.formContainer button:hover {
  cursor: pointer;
  background: rgb(228, 225, 225);
}
.flagMsg {
  background: white;
  color: green;
  text-align: center;
  display: none;
}
.success {
  background: white;
  color: green;
  text-align: center;
  display: block;
}
