.read-the-docs{
    border:1px solid red;
    padding:10px;
}
.disNone{
    background:gray;
    color:white;
}
.disBlock{
    background-color: aqua;
}
.btn{
    cursor:pointer;
    padding:5px 20px;
    border:none;
    border-radius:6px;
}