.main{
  /* border:1px solid red; */
  height:100vh;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
}
.temp{
  /* border:1px solid green; */
  position:relative;
}
.tempDis{
  width:160px;
  height:160px;
  border:1px solid transparent;
  position:absolute;
  top:35%;
  left:50%;
  transform: translate(-50%, -50%);
  border-radius:50%;
  display:grid;
  place-items:center;  
}
.tempDis>span{
  font-size:40px;
}
.tempBtn{  
  position:absolute;
  top:80%;
  left:50%;
  transform:translate(-50%, -50%);
  display:flex;
  gap:20px;
}
.tempBtn button{
  border:none;
  padding:10px 20px;
  border-radius:5px;  
  font-size:15px;
  font-weight:300;
  transition: .5s ease-in-out
}
.tempBtn button:hover{
  cursor:pointer;
  background-color:rgb(145, 52, 52);
  color:white;
}
.tempDis2{
  background-color:rgb(179, 40, 40);
  color:white;
}